@model IEnumerable<Bookish.Models.LibraryModel.Books>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookish</h1>
    <table class="booksTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedYear)
            </th>
        </tr>
    </table>
</div>
